* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* cursor: none; */
    /* height: 100vh; */
    background: #eeeeee;
}


div#cursor {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 2px solid #393e46;
    background: #393e46;
    ;
    /* transition: 0.1s; */
    border-radius: 50%;
    transition-duration: 90ms;
    transition-timing-function: ease-out;
    /* transform: translate(-50%, -50%); */
}

.sec1, .sec2 {
    background: grey;
    height: 100vh;
}
.sec2 {
    background: violet;
}