* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p1, .p2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1 {
    background: #226b80;
    
}
.p2 {
    background: #ffeaa5;
}
